.outer-box {
    background-color: #243049; /* Dark blue outer container */
    padding: 30px;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
}

.section-title {
    font-size: 26px;
    text-align: center;
    background-color: #eadfbe;
    color: #243049;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.inner-card {
    background-color: #eadfbe;
    border-radius: 10px;
    padding: 30px;
}

.card-section {
    background: #eadfbe;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.847);
}

.card-section h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #243049;
}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}

.card-row:last-child {
    border-bottom: none;
}

.card-label {
    font-weight: 600;
    color: #243049;
}

.card-action {
    font-weight: bold;
    color: #243049;
    cursor: pointer;
}

.card-row-horizontal {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-info-section,
.upload-section {
    flex: 1;
    min-width: 300px;
}

.upload-frame {
    border: 2px #2c4475;
    border-radius: 10px;
    padding: px;
    background-color: #eadfbe;
    text-align: center;
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.upload-label img {
    width: 150px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.upload-text {
    font-size: 14px;
    color: #243049;
    font-weight: 600;
}

#logo-upload {
    display: none;
}
