html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1; /* Fills available space */
    padding: 40px;
    background: white;
}

footer {
    background-color: #053e87;
    color: white;
    text-align: center;
    padding: 2px 5px;
    margin-top: auto; /* Pushes footer to the bottom */
}
