* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
}
/* HEADER SECTION */
header {
    background: linear-gradient(to right, #CDFFD8, #94B9FF);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
/* NAV SECTION */
.nav-links {
    display: flex;
    gap: 90px;
}
.nav-links a {
    color: #2A4365;
    font-size: 1.1em;
    font-weight: 800;
    text-decoration: none;
}
.nav-links a:hover {
    text-decoration: none; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    transition: text-shadow 0.3s ease-in-out;
}
.nav-links a.active {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    font-weight: 800;
}

/* LOGO SECTION */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    max-height: 60px;
    padding-left: 75px;
    width: auto;
    object-fit: contain;
}
/* SEARCH SECTION */
.search-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}
.search-container {
    position: relative;
}
.search {
    padding: 8px 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: white;
    font-size: .8em;
    font-style: italic;
}
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}
.notification {
    font-size: 1.2em;
    color: #2A4365;
    cursor: pointer;
}
/* PROFILE SECTION */
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 30px;
}
.profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.profile-info {
    display: flex;
    flex-direction: column;
}
.profile-name {
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}
.profile-role {
    color: white;
    font-weight: 350;
    font-size: x-small;
}
/* WELCOME PART */
.welcome {
    display: flex;
    justify-content: space-between;
    background: #DAD0AC;
}

.welcome .text {
    padding-left: 30px;
    background: #DAD0AC;
}
.welcome h1 {
    font-size: 44px;
    margin-bottom:50px;
    margin-top: 75px;
    color: #2A4365;
    background: #DAD0AC;
}

.welcome p {
    font-size: 24px;
    margin-top: 10px;
    margin-right: 300px;
    color: #2A4365;
    background: #DAD0AC;
}

.welcome .image {
    flex-shrink: 0;
    max-width: 1000px;
    margin-left: auto;
}


.welcome .image img {
    display: block;
    width: 1000px;
    height: auto; 
    background: #DAD0AC;
}

/* ORGANIZATION PART */
.organizations {
    text-align: center;
    padding: 30px 0px;
    background: linear-gradient(to right, #CDFFD8, #94B9FF);
    color: #2A4365;
}

.org-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    background: #2A4365;
    padding-top: 40px;
    padding-bottom: 10px;
}

.org-card {
    background: #DAD0AC;
    width: 22%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.org-card img {
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
    background: #DAD0AC;
}

.org-card h3 {
    font-size: 1.2em;
    background: #DAD0AC;
}

.org-card p {
    font-size: 0.9em;
    margin: 10px 0;
    background: #DAD0AC;
}

.join-btn {
    background: linear-gradient(to right, #CDFFD8, #94B9FF);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.join-btn:hover {
    background: #a8c0ff;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}

.discover-btn:last-child {
    background: linear-gradient(to right, #CDFFD8, #94B9FF);
    padding: 20px 0px;
    margin-top: 100px;
    margin-left: 890px;
    margin-right: 890px;
    border: 10px;
    color: #222;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    order: 2;
    flex-basis: 100%;
}

.discover-btn:hover {
    background: #a8c0ff;
    color: white;
}
/* ~~ PART OF SERVICE ~~ */
.services {
    background: linear-gradient(to right, #CDFFD8, #94B9FF);
    padding-bottom: 100px;
    text-align: center;
}

.services h2 {
    color: #12232e;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: auto;
    margin: 0 auto;
    background: #2A4365;
    border-radius: 40px;
    padding: 20px;
    color: white;
}

.services-image img {
    width: auto;
    height: 300px;
    background: #2A4365;;
    padding: 20px;
    padding-left: 100px;
}

.services-text {
    flex: 1;
    padding: 0 50px;
    text-align: left;
    background: #2A4365;;
}

.services-text p {
    font-size: 32px;
    line-height: 1.6;
    background: #2A4365;;
    padding: 0 100x;
}

.learn-more-btn {
    background: linear-gradient(to right, #CDFFD8, #94B9FF);
    color: #1f2833;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 900px;
    border-radius: 5px;
    transition: 0.3s;
}

.learn-more-btn:hover {
    background: #a8c0ff;
    color: white;
}